@font-face {
  font-family: 'DMSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans-Regular.woff') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
    url('../fonts/DMSans-Medium.woff') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
    url('../fonts/DMSans-Bold.woff') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.woff') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
    url('../fonts/Rubik-Medium.woff') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'nexa-script-light';
  font-weight: 400;
  font-style: normal;
  src: local('nexa-script-light'),
    url('../fonts/nexa-script-light.woff') format('woff2'),
    url('../fonts/nexa-script-light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'nexa-script';
  font-weight: 500;
  font-style: italic;
  src: local('nexa-script'),
    url('../fonts/nexa-script.woff') format('woff2'),
    url('../fonts/nexa-script.woff') format('woff');
  font-display: swap;
}



@font-face {
  font-family: 'nexa-script-heavy';
  font-weight: 700;
  font-style: normal;
  src: local('nexa-script-light'),
    url('../font/nexa-script-heavy.woff') format('woff2'),
    url('../fonts/nexa-script-heavy.woff') format('woff');
  font-display: swap;
}







// @font-face {
//   font-family: 'Quicksand-Regular';
//   font-weight: 400;
//   font-style: normal;
//   src: local('Quicksand-Regular'),
//     url('../fonts/Quicksand-Regular.woff') format('woff2'),
//     url('../fonts/Quicksand-Regular.woff') format('woff');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Quicksand-Medium';
//   font-weight: 500;
//   font-style: normal;
//   src: local('Quicksand-Medium'),
//     url('../fonts/Quicksand-Medium.woff') format('woff2'),
//     url('../fonts/Quicksand-Medium.woff') format('woff');
//   font-display: swap;
// }

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

// @font-face {
//   font-family: 'Roboto-Bold';
//   font-weight: 700;
//   font-style: normal;
//   src: local('Roboto-Bold'),
//     url('../fonts/Roboto-Bold.woff') format('woff2'),
//     url('../fonts/Roboto-Bold.woff') format('woff');
//   font-display: Bold;
// }