html,
body {
  background-color: #897e93;
}




.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 15px;
}

.tabs-container {
  max-width: 1376px;
  padding: 70px 83px 0;
  margin: 0 auto;
  background-color: #fff;
}