@media (max-width: 1500px) {
  .section-top__img {
    width: 80%;
  }

  .section-top__content-subtitle {
    line-height: 23px;
  }
}




@media (max-width: 1370px) {
  .content {
    width: 536px;
    margin-right: 40px;
    margin-left: 170px;
  }

  .section-top__img {
    width: 80%;
  }

  .section-top__content-subtitle {
    line-height: 23px;
  }
}

@media (max-width: 1260px) {

  .content {
    width: 536px;
    margin-right: 52px;
    margin-left: 42px;
  }

  .section-top__content-title {
    font-size: 70px;
    margin-bottom: 50px;
    line-height: 50px;
  }

  .section-top__content-title span {
    font-size: 30px;
  }

  .section-top__img {
    width: 70%;
    margin-bottom: 400px;
  }

  .header-inner {
    margin-bottom: 15px;
  }

  .section-top__content-subtitle {
    font-size: 41px;
    margin-bottom: 27px;

  }

  .section-top {
    margin-bottom: -135px;
  }

  .section-top__content-btn {
    margin-bottom: -3px;
  }
}




@media (max-width: 1105px) {
  .content {
    width: 382px;
    margin-left: 6px;
  }


  .section-top__content-title {
    font-size: 70px;
    margin-bottom: 50px;
  }

  .section-top__content-title span {
    font-size: 30px;
  }

  .section-top__img {
    width: 70%;
    margin-bottom: 600px;
  }

  .header-inner {
    margin-bottom: 15px;
  }

  .section-top__content-subtitle {
    font-size: 41px;
    margin-bottom: 27px;

  }
}

@media (max-width: 930px) {

  .menu__list {
    margin-right: 90px;
    font-size: 16px;
  }


  .content {
    width: 382px;
    margin-left: 6px;
  }


  .section-top__content-title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .section-top__content-title span {
    font-size: 20px;
  }

  .section-top__img {
    width: 50%;
    margin-bottom: 600px;
  }

  .section-top__content-subtitle {
    font-size: 30px;
    margin-bottom: 20px;

  }
}





@media (max-width: 792px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
}


@media (max-width: 650px) {

  .enjoy__title {
    font-size: 50px;
    line-height: 52px;
  }

  .enjoy__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .enjoy__bg-enjoy {
    display: none;
  }

  .enjoy__items-item {
    margin-bottom: 68px;
  }

  .enjoy__item-title {
    margin-top: 4px;
  }

  .enjoy__item-btn {
    margin-top: -15px;
  }

  .section-top {
    margin-bottom: -190px;
  }

}



@media (max-width: 380px) {
  .menu__list {
    margin-right: 338px;
    margin-top: 79px;
    font-size: 29px;
  }
}